<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

 <web-app>
 <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginCtl</servlet-name>
  	<display-name>LoginCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.time.table.controller.LoginCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WelcomeCtl</servlet-name>
  	<display-name>WelcomeCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.time.table.controller.WelcomeCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubjectCtl</servlet-name>
  	<display-name>SubjectCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.time.table.controller.SubjectCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FacultyCtl</servlet-name>
  	<display-name>FacultyCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.time.table.controller.FacultyCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserRegistrationCtl</servlet-name>
  	<display-name>UserRegistrationCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.time.table.controller.UserRegistrationCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FacultyListCtl</servlet-name>
  	<display-name>FacultyListCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.time.table.controller.FacultyListCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubjectListCtl</servlet-name>
  	<display-name>SubjectListCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.time.table.controller.SubjectListCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TimeTableCtl</servlet-name>
  	<display-name>TimeTableCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.time.table.controller.TimeTableCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TimeTableListCtl</servlet-name>
  	<display-name>TimeTableListCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.time.table.controller.TimeTableListCtl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginCtl</servlet-name>
  	<url-pattern>/LoginCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WelcomeCtl</servlet-name>
  	<url-pattern>/WelcomeCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubjectCtl</servlet-name>
  	<url-pattern>/SubjectCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FacultyCtl</servlet-name>
  	<url-pattern>/FacultyCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRegistrationCtl</servlet-name>
  	<url-pattern>/UserRegistrationCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FacultyListCtl</servlet-name>
  	<url-pattern>/FacultyListCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubjectListCtl</servlet-name>
  	<url-pattern>/SubjectListCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TimeTableCtl</servlet-name>
  	<url-pattern>/TimeTableCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TimeTableListCtl</servlet-name>
  	<url-pattern>/TimeTableListCtl</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
